#display {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

.book {
    background-color: aquamarine;
    width: 120px;
    height: 160px;
}

#new-book-button {
    height: 30px;
    width: 90px;
    margin: 20px;
    /* align-self: center;
    justify-self: center; */
}