#display {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

form {
    margin-bottom: 20px;
}

.book {
    background-color: aquamarine;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.in-book-button {
    height: 25px;
    width: 80px;
}

#new-book-button {
    height: 30px;
    width: 90px;
    margin: 20px;
    /* align-self: center;
    justify-self: center; */
}